@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "poppins", sans-serif;
    /* line-height: 1.6; */
    background-color: #fcfcfc;
    width: 100%;
    min-height: 100vh;
    user-select: none;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000009f;
    backdrop-filter: blur(5px);
    z-index: 95;
    display: none;
}

.navi{
    width: 100%;
    background-color: #fff;
}

.navbar{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    z-index: 900;
}

.navbar .logo{
    display: flex;
    align-items: center;    
}

.navbar .logo img{
    width: clamp(70px, 60%, 100px);
    height: auto;
}

.navbar .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}

.navbar .links nav{
    width: 100%;
    /* position: relative; */
    /* background-color: green; */
}

.navbar .links nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
}

.navbar .links nav ul li{
    font-size: 1em;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    cursor: pointer;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    position: relative;
    padding: 5px;
}

.navbar .links nav ul li a{
    text-decoration: none;
}

.navbar .links nav ul li.active::after{
    content: '';
    position: absolute;
    background-color: rgb(1, 1, 151);
    padding: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
}
.navbar .links nav ul li::after{
    content: '';
    position: absolute;
    background-color: rgb(1, 1, 151);
    padding: 1px;
    width: 0;
    /* display: none; */
    visibility: hidden;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}


.navbar .links nav ul .active::after{
    content: '';
    position: absolute;
    background-color: rgb(1, 1, 151);
    padding: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.navbar .links nav ul li:hover::after{
    /* display: inline-block; */
    visibility: visible;
    width: 100%;
}
.navbar .links .ctas{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar .links .icons{
    display: flex;
    align-items: center;
    gap: 20px;
    /* display: none; */
}

.navbar .links .icons i{
    font-size: 1.5em;
    color: #011349;
    cursor: pointer;
    display: none;
}

.navbar .links .ctas button{
    padding: 7px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(1, 1, 151);
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    font-family: "quicksand", sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.navbar .links .ctas button:hover{
    transform: scale(1.03);
    background-color: rgb(8, 8, 160);
}

.headerImg{
    width: 100%;
    /* height: 250px; */
    background: linear-gradient(to right, rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url(man-jump-through-gaps-hills.jpg);
    background-size: cover;
    background-position: 100% 70%;
}

.headerImg .successContnt{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    padding: 30px 30px;
}

.headerImg .successContnt h1{
    color: #fff;
    font-size: 2.8em;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    /* text-align: center; */
    /* margin-top: 30px; */
}

.headerImg .successContnt p{
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    font-family: "quicksand", sans-serif;
    margin-top: 20px;
    line-height: 1.4;
}

.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.boxContent{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 40px;
}

.boxContent h1{
    font-size: 1.7em;
    font-weight: 600;
    font-family: "quicksand", sans-serif;
    /* text-align: center; */
    /* margin-top: 20px; */
    color: blue;
}

.boxContent p{
    font-size: 1.1em;
    color: #010d31c2;
    font-family: "quicksand", sans-serif;
    font-weight: 500;
    margin-top: 5px;
}

.boxes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1200px;
    padding: 10px;
    gap: 15px;
    margin: 0 auto;
}

.boxes .box{
    width: 100%;
    padding: 15px;
    background-color: rgba(173, 216, 230, 0);
    border: 1px solid lightblue;
    border-radius: 8px;
    box-shadow: 0 1px 5px #1b1b1b11;
}

.boxes .box .imgBox{
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.boxes .box h2{
    font-size: 1.4em;
    font-weight: 700;
    font-family: "quicksand", sans-serif;
    padding-top: 10px;
}

.boxes .box p{
    font-size: .9em;
    color: #000000b6;
    font-family: "lato", sans-serif;
    margin-top: 5px;
    text-align: justify;
}

.summary{
    width: 100%;
    padding: 20px;
}

.summary h1{
    font-size: 1.7em;
    color: blue;
    font-family: "quicksand", sans-serif;
}

.summary p{
    padding: 10px;
    font-size: .95em;
    font-family: "lato", sans-serif;
    line-height: 1.5;
    text-align: justify;
}

.footer{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

.footer .topp{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 25px;
    /* background-color: red; */
}

.footer .topp h1{
    font-size: 1.1em;
    color: #011349;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer .topp .social-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    /* background-color: blue; */
}

.footer .topp .social-link img{
    width: 80px;
    height: auto;
}

.footer .topp .social-link ol{
    list-style: none;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 15px;
}

.footer .topp .social-link ol li{
    font-size: 1.3em;
    font-weight: 600;
    cursor: pointer;
    color: blue;
}

.footer .topp .social-link ol li a{
    text-decoration: none;
    color: inherit;
}

.footer .topp ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.footer .topp ul li{
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer .topp ul li a{
    text-decoration: none;
    color: inherit;
}

.footer .buttom{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
    background-color: #2556e7;
    color: #fff;
    font-size: 1em;
}

@media (max-width: 1000px) {
    .navbar .links nav{
        display: none;
    }

    .navbar .links nav ul{
        position: absolute;
        flex-direction: column;
        top: 75px;
        right: 0;
        background-color: #fff;
        /* width: 100%; */
        z-index: 99;
        width: 100%;
        padding: 10px 0;
        max-width: 300px;
    }

    .navbar .links nav ul{
        gap: 15px;
    }

    .navbar .links .ctas{
        display: none;
    }

    .navbar .links .icons i{
        display: inline-block;
    }

    .footer .topp{
        flex-direction: column;
        gap: 25px;
    }
}